# VOP Project - Git Ignore

# --- Project Data ---
# Ignore all test and production image directories
vop_stills/
vop_focus_tests/
*.csv   # Skip all .csv's which in this repo means x-sheets
*.csv*  # Also skip all "csv#" files
*.jpg
*.dng
*.tiff
*.tif
*.png
*.mp4
*.mov
*.mkv
current_job.json
ffmpeg_metadata.txt

# --- Python Junk ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- System & Trash Junk ---
.fuse_hidden*
#Ignore the hidden trash folders created by Linux file managers
.Trash-*/
.trash/
.DS_Store
# Ignore local VSCodium settings
.vscode/

# Ignore the dump.txt's
*dump.txt

# --- Exceptions ---
!readme_graphics/
!readme_graphics/*
!graphics/
!graphics/*