# VOP Project - Git Ignore

# --- Project Data ---
# Ignore all test and production image directories
vop_stills/
vop_focus_tests/
*.csv   # Skip all .csv's which in this repo means x-sheets
*.csv*  # Also skip all "csv#" files
*.jpg
*.dng
*.tiff
*.tif
*.png
*.mp4
*.mov
*.mkv
current_job.json
ffmpeg_metadata.txt
static/noise_data.json
static/calibration.json

# --- Python Junk ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --- System & Trash Junk ---
.fuse_hidden*
#Ignore the hidden trash folders created by Linux file managers
.Trash-*/
.trash/
.DS_Store
# Ignore local VSCodium settings
.vscode/
VOP.code-workspace

# Ignore the dump.txt's
vop_dump*.txt

# --- Exceptions ---
# Un-ignore the directories themselves
!readme_graphics/
!graphics/

# Un-ignore all files within those directories, overriding the global *.jpg/png ignores
!readme_graphics/*
!graphics/*