<div class="vop-sheet mds-sheet">
    <div class="sheet-row mds-header">
        <div>#</div>
        <div title="Frame Number">FR</div>
        <div title="Interpolation Mode">INT</div>
        <div title="Corner/Sharp Turn">C</div>
        <div title="Node Type">TYPE</div>
        <div title="Position (X,Y,Z)">POS (X,Y,Z)</div>
        <div title="Rotation (P,R,Y)">ROT (P,R,Y)</div>
        <div title="Projector Gel">PG</div>
        <div title="Camera Gel">CG</div>
        <div title="Exposure Time (Sec)">EXP</div>
        <div></div>
    </div>
    <div id="mds_sheet_body"></div>
</div>
<div class="add-row">
    <button class="add-btn" style="background: #112233; color: #0cf;" onclick="addMDSKeyframe()">+ ADD MDS MASTER KEY</button>
</div>