<div class="vop-sheet mds-sheet">
    <div class="sheet-row mds-header">
        <div>#</div>
        <div title="Frame Number">FR</div>
        <div title="Interpolation Mode">INT</div>
        <div title="Corner/Sharp Turn">C</div>
        <div title="Node Type">TYPE</div>
        <div title="Proj Position (X,Y,Z)">POS<br>(X,Y,Z)</div>
        <div title="Proj Rotation (P,R,Y)">ROT<br>(P,R,Y)</div>
        <div title="BiPack Position (X,Y,Z)" class="bp-header-text">BP POS<br>(X,Y,Z)</div>
        <div title="BiPack Rotation (P,R,Y)" class="bp-header-text">BP ROT<br>(P,R,Y)</div>
        <div title="Projector Gel">PG</div>
        <div title="Camera Gel">CG</div>
        <div title="Exposure Time (Sec)">EXP</div>
        <div></div>
    </div>
    <div id="mds_sheet_body"></div>
</div>
<div class="add-row">
    <button class="mds-add-btn" onclick="addMDSKeyframe()">+ ADD MDS MASTER KEY</button>
</div>