<div class="control-deck">
    <div class="status-meta">
        <span id="st_msg" class="status-text">IDLE</span>
        
        <div class="status-bar-progress">
            <div id="st_bar" class="progress-bar"></div>
        </div>

        <span id="st_eta"></span>
        
        <button class="panic-btn" onclick="panic()">PANIC / ABORT</button>
        <button class="nuke-btn" onclick="nukeMag()">NUKE MAG</button>
        <button class="nuke-btn" onclick="nukeJob()">NUKE JOB</button>
    </div>
    
    <div class="workprint-zone">
        <a id="wp_download" href="#" style="display:none;" class="download-link"></a>
    </div>
</div>